<footer class="py-6 px-3 flex items-center absolute bottom-0 w-full justify-center z-40 text-personal-white text-xs font-medium bg-black">
  <nav>
    <ul class="flex [&>li>a]:inline-block [&>li>a]:px-2">
      <li><a href="#">Tesla © 2023</a></li>
      <li><a href="#">Privacy & Legal</a></li>
      <li><a href="#">Vehicle Recalls</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Get Updates</a></li>
      <li><a href="#">Locations</a></li>
    </ul>
  </nav>
</footer>
