<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="black">
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-personal-black pt-20 text-[40px] font-medium">
        Model S
      </h2>
      <h3 class="text-personal-black text-[20px] font-medium">
        From $71,090
      </h3>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="flex gap-x-4 mx-auto">
        <a class="bg-personal-white text-sm rounded font-medium text-black px-20 py-2 inline-block transition-colors"
        href="#">Explore Inventory</a>
        <a class="bg-personal-gray opacity-1 text-sm rounded font-medium px-24 py-2 inline-flex transition-colors justify-center items-center text-white"
        href="#">Demo Drive</a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img src="public/pics/model-s.avif" alt="Model S" class="h-full w-full object-cover object-center"/>
  </div>
</section>