---
import LandingFooter from "./LandingFooter.astro";
---

<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="black">
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h1 class="personal-black pt-20 text-[40px] font-medium">
        Solar Roof
      </h1>
      <p class="personal-black text-sm">
        Produce Clean Energy From Your Roof
      <p/>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="flex gap-x-4 mx-auto">
        <a class="bg-personal-white text-sm rounded font-medium text-black px-24 py-3 inline-block transition-colors"
        href="#">Order Now</a>
        <a class="bg-personal-gray opacity-1 text-sm rounded font-medium px-24 py-3 inline-flex transition-colors justify-center items-center text-white"
        href="#">Learn More</a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img src="public/pics/solar-roof.avif" alt="Solar Roof" class="h-full w-full object-cover object-center"/>
  </div>
  <LandingFooter />
</section>