---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/Sections/LandingHeader.astro";
import HeroSection from "../components/Sections/HeroSection.astro";
import ModelSection from "../components/Sections/ModelSection.astro";
import CybertruckSection from "../components/Sections/CybertruckSection.astro";
import RoofSection from "../components/Sections/RoofSection.astro";
import LandingFooter from "../components/Sections/LandingFooter.astro";
---

<Layout title="Tesla">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-x-hidden scroll-smooth">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModelSection />
		</div>
		<div class="snap-center">
			<CybertruckSection />
		</div>
		<div class="snap-center">
			<RoofSection />
		</div>
	</main>
</Layout>
